ani515.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.elsevier.com/xml/ani/ani" xmlns:ait="http://www.elsevier.com/xml/ani/ait" xmlns:ani="http://www.elsevier.com/xml/ani/ani" xmlns:ce="http://www.elsevier.com/xml/ani/common" xmlns:aii="http://www.elsevier.com/xml/ani/internal">

    <xs:import namespace="http://www.elsevier.com/xml/ani/ait" schemaLocation="ait.xsd"/>
    <xs:import namespace="http://www.elsevier.com/xml/ani/common" schemaLocation="ce.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <!-- 2019-10-11 -->
    <xs:import namespace="http://www.elsevier.com/xml/ani/internal" schemaLocation="ani-internal.xsd"/>
    <xs:include schemaLocation="ani-ce.xsd"/>
    <!-- ========== Wrapper and process info ========== -->

    <xs:element name="bibdataset">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:item"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ait:process-info"/>
                <xs:element ref="ani:bibrecord"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="bibrecord">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ani:item-info"/>
                <xs:element minOccurs="0" ref="ani:itemfilelinks"/>
                <xs:element ref="ani:head"/>
                <xs:element minOccurs="0" ref="ani:tail"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ========== Bibliographic record ========== -->

    <xs:element name="item-info">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:copyright"/>
                <xs:element ref="ani:itemidlist"/>
                <xs:element ref="ani:history"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:dbcollection"/>
                <xs:element minOccurs="0" ref="ani:external-source"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="itemfilelinks">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:itemfilelink"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="itemfilelink">
        <xs:complexType>
            <xs:attribute name="href" use="required"/>
            <xs:attribute name="MIME-type"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="copyright">
        <xs:complexType mixed="true">
            <xs:attribute name="type"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="itemidlist">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ce:pii"/>
                <xs:element minOccurs="0" ref="ce:doi"/>
                <xs:element minOccurs="0" ref="ce:ern"/>
                <xs:element maxOccurs="unbounded" ref="ani:itemid"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="itemid">
        <xs:complexType mixed="true">
            <xs:attribute name="idtype" type="xs:NMTOKEN" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="dbcollection" type="xs:string"/>

    <xs:element name="external-source" type="xs:string"/>

    <!-- Item history elements -->

    <xs:element name="history">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ani:date-created"/>
                <xs:element minOccurs="0" ref="ani:date-completed"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:date-revised"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="date-created">
        <xs:complexType>
            <xs:attributeGroup ref="ce:date.att"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="date-completed">
        <xs:complexType>
            <xs:attributeGroup ref="ce:date.att"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="date-revised">
        <xs:complexType>
            <xs:attributeGroup ref="ce:date.att"/>
        </xs:complexType>
    </xs:element>

    <!-- ========== head ========== -->

    <xs:element name="head" type="ani:headType"/>

    <xs:complexType name="headType">
        <xs:sequence>
            <xs:element minOccurs="0" ref="ani:citation-info"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:related-item"/>
            <xs:element minOccurs="0" ref="ani:citation-title"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:author-group"/>
            <!-- 2019-09-23 maxOccurs unbounded -->
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:correspondence"/>
            <xs:element minOccurs="0" ref="ani:grantlist"/>
            <xs:element minOccurs="0" ref="ani:abstracts"/>
            <xs:element minOccurs="0" ref="ce:conflict-of-interest"/>
            <xs:element minOccurs="0" ref="ce:data-availability"/>
            <xs:element minOccurs="0" ref="ani:source"/>
            <xs:element minOccurs="0" ref="ani:enhancement"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Citation elements -->

    <xs:element name="citation-info" type="ani:citationinfoType"/>

    <xs:complexType name="citationinfoType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:citation-type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:citation-language"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:abstract-language"/>
            <xs:element minOccurs="0" ref="ani:patent"/>
            <xs:element minOccurs="0" ref="ani:author-keywords"/>
            <xs:element minOccurs="0" ref="ani:dummy-link"/>
            <xs:element minOccurs="0" ref="ani:figure-information"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="citation-type">
        <xs:complexType>
            <xs:attribute name="code" use="required" type="ani:citationtype.att"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="citation-language">
        <xs:complexType>
            <xs:attribute ref="xml:lang" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="abstract-language">
        <xs:complexType>
            <xs:attribute ref="xml:lang" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="author-keywords">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:author-keyword"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="author-keyword">
        <xs:complexType mixed="true">
            <xs:complexContent>
                <xs:extension base="ani:richstringWithMMLType">
                    <xs:attribute name="perspective"/>
                    <xs:attribute ref="xml:lang" default="eng"/>
                    <xs:attribute name="original" type="ani:yesno.att"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="dummy-link">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ani:gen-citationtype"/>
                <xs:element ref="ani:itemlink"/>
            </xs:sequence>
            <xs:attribute name="restricted-access" type="ani:yesno.att" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="gen-citationtype">
        <xs:complexType>
            <xs:attribute name="code" use="required" type="ani:gencitationtype.att"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="itemlink" type="xs:string"/>
    <xs:element name="figure-information" type="xs:string"/>

    <xs:element name="related-item">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ce:pii"/>
                <xs:element minOccurs="0" ref="ce:doi"/>
                <xs:element minOccurs="0" ref="ce:ern"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:itemid"/>
                <xs:element minOccurs="0" ref="ani:citation-info"/>
                <xs:element minOccurs="0" ref="ani:citation-title"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:contributor-group"/>
                <xs:element minOccurs="0" ref="ani:source"/>
            </xs:sequence>
            <xs:attribute name="type" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="citation-title">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:titletext"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ce:short-title"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="titletext">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ani:richstringWithMMLType">
                    <xs:attribute name="perspective"/>
                    <xs:attribute name="use-type" type="xs:token"/>
                    <xs:attribute ref="xml:lang"/>
                    <xs:attribute name="original" type="ani:yesno.att"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="contributor-group">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="ani:contributor"/>
                    <xs:element ref="ani:collaboration"/>
                </xs:choice>
                <xs:element minOccurs="0" ref="ani:et-al"/>
                <xs:element minOccurs="0" ref="ani:affiliation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="contributor">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ani:personalnameType">
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ce:e-address"/>
                    </xs:sequence>
                    <xs:attribute name="role" use="required" type="ani:contributorrole.att"/>
                    <xs:attribute name="auid"/>
                    <xs:attribute name="seq" use="required"/>
                    <xs:attribute name="type"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- AuthorGroup elements -->

    <xs:element name="author-group">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="ani:author"/>
                    <xs:element ref="ani:collaboration"/>
                </xs:choice>
                <xs:element minOccurs="0" ref="ani:et-al"/>
                <xs:element minOccurs="0" ref="ani:affiliation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="author">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ani:personalnameType">
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ani:preferred-name"/>
                        <xs:element minOccurs="0" ref="ce:e-address"/>
                    </xs:sequence>
                    <xs:attribute name="auid"/>
                    <xs:attribute name="seq" use="required"/>
                    <xs:attribute name="type"/>
                    <xs:attribute name="orcid"/>
                    <xs:attribute name="date-locked" type="xs:dateTime"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="preferred-name" type="ani:personalnameType"/>
    <xs:element name="collaboration">
        <xs:complexType>
            <!-- 2019-09-23 addition of structure, with downwards compatibility ensured -->            
            <xs:sequence>
                <xs:element ref="ce:indexed-name" minOccurs="0"/>
                <xs:element ref="ce:text"><!-- string for the collaboration itself --></xs:element>
                <!-- 2019-10-11 -->
                <!-- reuse of ani:author in 2019-09-23 change was seen as too detailed for collaboration
                <xs:element ref="ani:author" minOccurs="0" maxOccurs="unbounded"/>-->               
                <!-- 2019-10-11 -->
                <!-- element et-al in 2019-09-23 too detailed for collaboration <xs:element minOccurs="0" ref="ani:et-al"/>-->
                <!-- remove affiliation because it is not expected to be useful within the context of a collaboration element 
                <xs:element ref="ani:affiliation" minOccurs="0"/> -->
                <!-- 2019-10-11 -->
                <xs:element name="member-name" minOccurs="0" maxOccurs="unbounded" type="ani:collaborationMemberType"/>
            </xs:sequence>
            <xs:attribute name="seq" use="required"/>
            <xs:attribute name="collaboration-instance-id" type="xs:NMTOKEN"/>
        </xs:complexType>
    </xs:element>

    <!-- 2019-10-11 -->
    <xs:complexType name="collaborationMemberType">
        <!-- preferably name is structured, but if not possible then entire string in ce:text element -->
        <xs:choice>
            <xs:sequence>
                <xs:element ref="ce:surname"/>
                <xs:element ref="ce:initials" minOccurs="0" />
                <xs:element ref="ce:given-name" minOccurs="0" />
            </xs:sequence>
            <xs:element ref="ce:text">
                <!-- string for the collaboration member -->
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:element name="et-al">
        <xs:complexType/>
    </xs:element>
    <xs:element name="affiliation">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ani:affiliationType">
                    <xs:attribute name="afid"/>
                    <xs:attribute name="dptid"/>
                    <xs:attribute name="country"/>
                    <xs:attribute name="date-locked" type="xs:dateTime"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="organization">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="address-part">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="city-group" type="xs:string"/>
    <xs:element name="city" type="xs:string"/>
    <xs:element name="state" type="xs:string"/>
    <xs:element name="postal-code">
        <xs:complexType mixed="true">
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="pre"/>
                        <xs:enumeration value="post"/>
                        <xs:enumeration value="zip"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="country">
        <xs:complexType>
            <xs:attribute name="iso-code" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Correspondence Address elements -->

    <xs:element name="correspondence">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:person"/>
                <xs:element minOccurs="0" ref="ani:affiliation"/>
                <xs:element minOccurs="0" ref="ce:e-address"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="person" type="ani:personalnameType"/>

    <!-- Grant elements -->

    <xs:element name="grantlist">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:grant"/>
                <xs:element minOccurs="0" ref="ani:grant-text"/>
            </xs:sequence>
            <xs:attribute name="complete" default="y" type="ani:yesno.att"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="grant">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:grant-id"/>
                <xs:element minOccurs="0" ref="ani:grant-acronym"/>
                <xs:element ref="ani:grant-agency"/>
                <xs:element minOccurs="0" ref="ani:grant-agency-id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="grant-id" type="xs:string"/>
    <xs:element name="grant-acronym" type="xs:string"/>
    <xs:element name="grant-agency">
        <xs:complexType mixed="true">
            <xs:attribute name="iso-code"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="grant-agency-id" type="xs:string"/>
    <xs:element name="grant-text">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
            <xs:attribute ref="xml:lang" default="eng"/>
        </xs:complexType>
    </xs:element>

    <!-- Source elements -->

    <xs:element name="source" type="ani:sourceType"/>

    <xs:complexType name="sourceType">
        <xs:sequence>
            <xs:element minOccurs="0" ref="ani:sourcetitle"/>
            <xs:element minOccurs="0" ref="ani:preferred-sourcetitle"/>
            <xs:element minOccurs="0" ref="ani:sourcetitle-abbrev"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:translated-sourcetitle"/>
            <xs:element minOccurs="0" ref="ani:volumetitle"/>
            <xs:element minOccurs="0" ref="ani:issuetitle"/>
            <xs:element minOccurs="0" ref="ani:issue-designation"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:issn"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:isbn"/>
            <xs:element minOccurs="0" ref="ani:codencode"/>
            <xs:element minOccurs="0" ref="ani:part"/>
            <xs:element minOccurs="0" ref="ani:volisspag"/>
            <xs:element minOccurs="0" ref="ani:article-number"/>
            <xs:element minOccurs="0" ref="ani:publicationyear"/>
            <xs:element minOccurs="0" ref="ani:publicationdate"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:website"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:contributor-group"/>
            <xs:element minOccurs="0" ref="ani:editors"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:publisher"/>
            <xs:element minOccurs="0" ref="ani:additional-srcinfo"/>
            <xs:element minOccurs="0" ref="ani:bib-text"/>
        </xs:sequence>
        <xs:attribute name="srcid"/>
        <xs:attribute name="type" type="ani:sourcetype.att"/>
        <xs:attribute name="country"/>
    </xs:complexType>

    <xs:element name="sourcetitle">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="preferred-sourcetitle">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="sourcetitle-abbrev">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="translated-sourcetitle">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="volumetitle">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="issuetitle">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="issue-designation">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="issn">
        <xs:complexType mixed="true">
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="print"/>
                        <xs:enumeration value="electronic"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="isbn">
        <xs:complexType mixed="true">
            <xs:attribute name="type"/>
            <xs:attribute name="length">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="10"/>
                        <xs:enumeration value="13"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="level">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="set"/>
                        <xs:enumeration value="volume"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="codencode" type="xs:string"/>
    <xs:element name="part" type="xs:string"/>

    <xs:element name="volisspag">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="ani:voliss"/>
                    <xs:element minOccurs="0" ref="ani:supplement"/>
                    <xs:choice minOccurs="0">
                        <xs:element ref="ani:pagerange"/>
                        <xs:element ref="ani:pages"/>
                    </xs:choice>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:pagecount"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="ani:pagerange"/>
                        <xs:element ref="ani:pages"/>
                        <xs:element ref="ani:pagecount"/>
                    </xs:choice>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:pagecount"/>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="voliss">
        <xs:complexType>
            <xs:attribute name="volume"/>
            <xs:attribute name="issue"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="supplement" type="xs:string"/>

    <xs:element name="pagerange">
        <xs:complexType>
            <xs:attribute name="first" use="required"/>
            <xs:attribute name="last"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="pages" type="xs:string"/>
    <xs:element name="pagecount">
        <xs:complexType mixed="true">
            <xs:attribute name="type" default="arabic">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="arabic"/>
                        <xs:enumeration value="roman"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="article-number" type="xs:string"/>
    <xs:element name="publicationyear">
        <xs:complexType>
            <xs:attribute name="first" use="required"/>
            <xs:attribute name="last"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="publicationdate">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="ani:pubdateType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="website">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="ani:websitename"/>
                    <xs:element minOccurs="0" ref="ce:e-address"/>
                </xs:sequence>
                <xs:element ref="ce:e-address"/>
            </xs:choice>
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="item"/>
                        <xs:enumeration value="source"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="websitename" type="xs:string"/>

    <xs:element name="editors">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:editor"/>
            </xs:sequence>
            <xs:attribute name="complete" type="ani:yesno.att" default="y"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="editor">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ani:personalnameType">
                    <xs:attribute name="role"/>
                    <xs:attribute name="type"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="publisher">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:publishername"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="ani:publisheraddress"/>
                    <xs:element ref="ani:affiliation"/>
                </xs:choice>
                <xs:element minOccurs="0" ref="ce:e-address"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="publishername" type="xs:string"/>
    <xs:element name="publisheraddress" type="xs:string"/>

    <xs:element name="additional-srcinfo" type="ani:additionalsrcinfoType"/>

    <xs:complexType name="additionalsrcinfoType">
        <xs:sequence>
            <xs:element minOccurs="0" ref="ani:secondaryjournal"/>
            <xs:element minOccurs="0" ref="ani:conferenceinfo"/>
            <xs:element minOccurs="0" ref="ani:reportinfo"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="secondaryjournal">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:sourcetitle"/>
                <xs:element minOccurs="0" ref="ani:sourcetitle-abbrev"/>
                <xs:element minOccurs="0" ref="ani:issn"/>
                <xs:element minOccurs="0" ref="ani:publicationyear"/>
                <xs:element minOccurs="0" ref="ani:publicationdate"/>
                <xs:element minOccurs="0" ref="ani:voliss"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="conferenceinfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:confevent"/>
                <xs:element minOccurs="0" ref="ani:confpublication"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="confevent">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:confname"/>
                <xs:element minOccurs="0" ref="ani:confnumber"/>
                <xs:element minOccurs="0" ref="ani:conftheme"/>
                <xs:element minOccurs="0" ref="ani:confseriestitle"/>
                <xs:element minOccurs="0" ref="ani:conflocation"/>
                <xs:element minOccurs="0" ref="ani:confdate"/>
                <xs:element minOccurs="0" ref="ani:conforganization"/>
                <xs:element minOccurs="0" ref="ani:confURL"/>
                <xs:element minOccurs="0" ref="ani:confcatnumber"/>
                <xs:element minOccurs="0" ref="ani:confcode"/>
                <xs:element minOccurs="0" ref="ani:confsponsors"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="confname">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="confnumber">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="conftheme">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="confseriestitle">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="conflocation">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:venue"/>
                <xs:element minOccurs="0" ref="ani:address-part"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="ani:city-group"/>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ani:city"/>
                        <xs:element minOccurs="0" ref="ani:state"/>
                        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:postal-code"/>
                    </xs:sequence>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="country"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="venue" type="xs:string"/>
    <xs:element name="confdate">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="ani:startdate"/>
                    <xs:element minOccurs="0" ref="ani:enddate"/>
                </xs:sequence>
                <xs:element ref="ani:date-text"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="startdate">
        <xs:complexType>
            <xs:attributeGroup ref="ce:date.att"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="enddate">
        <xs:complexType>
            <xs:attributeGroup ref="ce:date.att"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="conforganization">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="confURL" type="xs:string"/>
    <xs:element name="confcatnumber" type="xs:string"/>
    <xs:element name="confcode" type="xs:string"/>
    <xs:element name="confsponsors">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:confsponsor"/>
            </xs:sequence>
            <xs:attribute name="complete" type="ani:yesno.att" default="y"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="confsponsor" type="xs:string"/>
    <xs:element name="confpublication">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:confeditors"/>
                <xs:element minOccurs="0" ref="ani:procpartno"/>
                <xs:element minOccurs="0" ref="ani:procpagerange"/>
                <xs:element minOccurs="0" ref="ani:procpagecount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="confeditors">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:editors"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:editororganization"/>
                <xs:element minOccurs="0" ref="ani:editoraddress"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="editororganization" type="xs:string"/>
    <xs:element name="editoraddress" type="xs:string"/>
    <xs:element name="procpartno" type="xs:string"/>
    <xs:element name="procpagerange" type="xs:string"/>
    <xs:element name="procpagecount" type="xs:string"/>

    <xs:element name="reportinfo" type="ani:reportnumber"/>
    <xs:complexType name="reportnumber">
        <xs:sequence>
            <xs:element ref="ani:reportnumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="reportnumber" type="xs:string"/>

    <xs:element name="bib-text" type="xs:string"/>

</xs:schema>
