ani515_2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.elsevier.com/xml/ani/ani" xmlns:ait="http://www.elsevier.com/xml/ani/ait" xmlns:ani="http://www.elsevier.com/xml/ani/ani" xmlns:ce="http://www.elsevier.com/xml/ani/common" xmlns:aii="http://www.elsevier.com/xml/ani/internal">

    <xs:import namespace="http://www.elsevier.com/xml/ani/ait" schemaLocation="ait.xsd"/>
    <xs:import namespace="http://www.elsevier.com/xml/ani/common" schemaLocation="ce.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <!-- 2019-10-11 -->
    <xs:import namespace="http://www.elsevier.com/xml/ani/internal" schemaLocation="ani-internal.xsd"/>
    <xs:include schemaLocation="ani-ce.xsd"/>
    <!-- Patent elements -->

    <xs:element name="patent">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:registrations"/>
                <xs:element minOccurs="0" ref="ani:localapplications"/>
                <xs:element minOccurs="0" ref="ani:prioapplications"/>
                <xs:element minOccurs="0" ref="ani:assignees"/>
                <xs:element minOccurs="0" ref="ani:designatedcountries"/>
                <xs:element minOccurs="0" ref="ani:ipc-codes"/>
                <xs:element minOccurs="0" ref="ani:inventors"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="registrations">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:registration"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="registration" type="xs:string"/>
    <xs:element name="localapplications">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:localapplication"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="localapplication" type="xs:string"/>
    <xs:element name="prioapplications">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:prioapplication"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="prioapplication" type="xs:string"/>
    <xs:element name="assignees">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:assignee"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="assignee" type="xs:string"/>
    <xs:element name="designatedcountries">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ipc-codes">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:ipc-code"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ipc-code">
        <xs:complexType mixed="true">
            <xs:attribute name="seq" type="xs:positiveInteger"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="inventors">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:inventor"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="inventor" type="xs:string"/>

    <!-- ========== Abstract elements ========== -->

    <xs:element name="abstracts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:abstract"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="abstract">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:publishercopyright"/>
                <xs:element maxOccurs="unbounded" ref="ce:para"/>
            </xs:sequence>
            <xs:attribute name="perspective"/>
            <xs:attribute ref="xml:lang" default="eng"/>
            <xs:attribute name="original" use="required" type="ani:yesno.att"/>
            <xs:attribute name="source"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="publishercopyright">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>

    <!-- ========== Enhancements elements ========== -->

    <xs:element name="enhancement" type="ani:enhancementType"/>

    <xs:complexType name="enhancementType">
        <xs:sequence>
            <xs:element minOccurs="0" ref="ani:patent"/>
            <xs:element minOccurs="0" ref="ani:descriptorgroup"/>
            <xs:element minOccurs="0" ref="ani:API-descriptorgroup"/>
            <xs:element minOccurs="0" ref="ani:classificationgroup"/>
            <xs:element minOccurs="0" ref="ani:manufacturergroup"/>
            <xs:element minOccurs="0" ref="ani:tradenamegroup"/>
            <xs:element minOccurs="0" ref="ani:sequencebanks"/>
            <xs:element minOccurs="0" ref="ani:chemicalgroup"/>
        </xs:sequence>
        <xs:attribute name="status">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="001"/>
                    <xs:enumeration value="002"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="17"/>
                    <xs:enumeration value="8"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- Descriptor elements -->

    <xs:element name="descriptorgroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:descriptors"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="descriptors">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:descriptor"/>
            </xs:sequence>
            <xs:attribute name="controlled" type="ani:yesno.att" use="required"/>
            <xs:attribute name="type" type="ani:descriptortype.att" use="required"/>
            <xs:attribute name="name"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="descriptor" type="ani:descriptorType"/>
    <xs:complexType name="descriptorType">
        <xs:sequence>
            <xs:element ref="ani:mainterm"/>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="ani:link"/>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="ani:sublink"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:subsublink"/>
                </xs:sequence>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="mainterm">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
            <xs:attribute name="weight" default="b">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="a"/>
                        <xs:enumeration value="b"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="candidate" type="ani:yesno.att" default="n"/>
            <xs:attribute name="sort-pos"/>
            <xs:attribute name="code"/>
            <xs:attributeGroup ref="ani:conceptGroup"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="link">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
            <xs:attribute name="linknr"/>
            <xs:attributeGroup ref="ani:conceptGroup"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="sublink">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
            <xs:attribute name="linknr"/>
            <xs:attribute name="weight" default="not-defined">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="a"/>
                        <xs:enumeration value="b"/>
                        <xs:enumeration value="not-defined"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="ani:conceptGroup"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="subsublink">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
            <xs:attribute name="linknr"/>
            <xs:attributeGroup ref="ani:conceptGroup"/>
        </xs:complexType>
    </xs:element>

    <!-- API descriptor group elements -->

    <xs:element name="API-descriptorgroup">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="ani:autoposting"/>
                <xs:sequence>
                    <xs:element ref="ani:API-groups"/>
                    <xs:element minOccurs="0" ref="ani:autoposting"/>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-groups">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="ani:API-ATM-termgroup"/>
                <xs:element ref="ani:API-LTM-termgroup"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-ATM-termgroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ani:ATM-template"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:API-term"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:ATM-Vgroup"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:ATM-Sgroup"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ATM-template">
        <xs:complexType mixed="true">
            <xs:attribute name="template-role">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="A"/>
                        <xs:enumeration value="P"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-term">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
            <xs:attribute name="major-term-indicator">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="M"/>
                        <xs:enumeration value="N"/>
                        <xs:enumeration value="P"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="role">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="A"/>
                        <xs:enumeration value="I"/>
                        <xs:enumeration value="P"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="group-indicator"/>
            <xs:attribute name="sort-pos"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ATM-Vgroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:API-term"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:API-termgroup"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ATM-Sgroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:API-term"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:API-termgroup"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-termgroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:API-term"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-LTM-termgroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:API-term"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="autoposting">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:API-CC"/>
                <xs:element minOccurs="0" ref="ani:API-LTM"/>
                <xs:element minOccurs="0" ref="ani:API-ALC"/>
                <xs:element minOccurs="0" ref="ani:API-ATM-group"/>
                <xs:element minOccurs="0" ref="ani:API-AMS"/>
                <xs:element minOccurs="0" ref="ani:API-APC"/>
                <xs:element minOccurs="0" ref="ani:API-ANC"/>
                <xs:element minOccurs="0" ref="ani:API-AT"/>
                <xs:element minOccurs="0" ref="ani:API-CT"/>
                <xs:element minOccurs="0" ref="ani:API-LT"/>
                <xs:element minOccurs="0" ref="ani:API-CRN"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-CC">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:classification"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-LTM">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:API-LTM-group"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-LTM-group">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:autoposting-term"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-ALC">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ani:LTM-count"/>
                <xs:element ref="ani:LT-count"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LTM-count" type="xs:string"/>
    <xs:element name="LT-count" type="xs:string"/>
    <xs:element name="API-ATM-group">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:API-ATM"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-ATM">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ani:ATM-template"/>
                <xs:element minOccurs="0" ref="ani:LT-count"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:API-term"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:ATM-Vgroup"/>
                <xs:element minOccurs="0" ref="ani:ATM-Sgroup"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-AMS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ani:API-term"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-APC">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:API-term"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-ANC">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:API-term"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-AT">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:autoposting-term"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="autoposting-term">
        <xs:complexType mixed="true">
            <xs:attribute name="prefix"/>
            <xs:attribute name="postfix"/>
            <xs:attribute name="CAS-nr" default="n">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="n"/>
                        <xs:enumeration value="y"/>
                        <xs:enumeration value="b"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-CT">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:autoposting-term"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-LT">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:API-LT-group"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-LT-group">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:autoposting-term"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="API-CRN">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:autoposting-term"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Classification elements -->

    <xs:element name="classificationgroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:classifications"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="classifications">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:classification"/>
            </xs:sequence>
            <xs:attribute name="type" type="ani:classificationtype.att" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="classification" type="ani:classificationType"/>
    <xs:element name="classification-code" type="xs:string"/>
    <xs:element name="classification-description" type="xs:string"/>

    <!-- Manufacturer elements -->

    <xs:element name="manufacturergroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:manufacturers"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="manufacturers">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:manufacturer"/>
            </xs:sequence>
            <xs:attribute name="type" type="ani:manufacturertype.att" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="manufacturer">
        <xs:complexType mixed="true">
            <xs:attribute name="country"/>
            <xs:attribute name="label-id"/>
        </xs:complexType>
    </xs:element>

    <!-- Tradename elements -->

    <xs:element name="tradenamegroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:tradenames"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tradenames">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:trademanuitem"/>
            </xs:sequence>
            <xs:attribute name="type" type="ani:tradenametype.att" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="trademanuitem">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ani:tradename"/>
                <xs:element minOccurs="0" ref="ani:manufacturer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tradename">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="label-id"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- SequenceBankList elements -->

    <xs:element name="sequencebanks">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:sequencebank"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sequencebank">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:sequence-number"/>
            </xs:sequence>
            <xs:attribute name="name" use="required" type="ani:sequencebanktype.att"/>
            <xs:attribute name="complete" type="ani:yesno.att" default="y"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="sequence-number">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="ani:sequence-number.attlist"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="sequence-number.attlist">
        <xs:attribute name="type" default="referenced">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="submitted"/>
                    <xs:enumeration value="referenced"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <!-- Chemical group elements -->

    <xs:element name="chemicalgroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:chemicals"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="chemicals">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:chemical"/>
            </xs:sequence>
            <xs:attribute name="source" type="ani:chemicalsourcetype.att" default="esbd"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="chemical">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ani:chemical-name"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:cas-registry-number"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:enzyme-commission-number"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="chemical-name" type="xs:string"/>
    <xs:element name="cas-registry-number" type="xs:string"/>
    <xs:element name="enzyme-commission-number" type="xs:string"/>


    <!-- ========== tail ========== -->

    <xs:element name="tail">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ani:bibliography"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ReferenceList elements -->

    <xs:element name="bibliography" type="ani:bibliographyType"/>

    <xs:complexType name="bibliographyType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:reference"/>
        </xs:sequence>
        <xs:attribute name="refcount" use="required"/>
    </xs:complexType>

    <xs:element name="reference">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ani:ref-info"/>
                <xs:element minOccurs="0" ref="ani:ref-fulltext"/>
                <xs:element minOccurs="0" ref="ani:refd-itemcitation"/>
                <xs:element minOccurs="0" ref="ce:source-text"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:NMTOKEN"/>
            <xs:attribute name="date-locked" type="xs:dateTime"/>
            <xs:attribute name="reference-instance-id" type="xs:NMTOKEN"/>
            <!-- 2019-10-11 OPTIONAL internal attribute was-generated-by --> 
            <xs:attribute ref="aii:was-generated-by"/> 
        </xs:complexType>
    </xs:element>

    <xs:element name="ref-info">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:ref-title"/>
                <xs:element minOccurs="0" ref="ani:refd-itemidlist"/>
                <xs:element minOccurs="0" ref="ani:ref-authors"/>
                <xs:element minOccurs="0" ref="ani:ref-sourcetitle"/>
                <xs:element minOccurs="0" ref="ani:ref-publicationyear"/>
                <xs:element minOccurs="0" ref="ani:ref-volisspag"/>
                <xs:element minOccurs="0" ref="ani:ref-website"/>
                <xs:element minOccurs="0" ref="ani:ref-text"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ref-title">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:ref-titletext"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ref-titletext" type="ani:richstringWithMMLType"/>
    <xs:element name="refd-itemidlist">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ani:itemid"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ref-authors">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="ani:author"/>
                    <xs:element ref="ani:collaboration"/>
                </xs:choice>
                <xs:element minOccurs="0" ref="ani:et-al"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ref-sourcetitle">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ref-publicationyear">
        <xs:complexType>
            <xs:attribute name="first" use="required"/>
            <xs:attribute name="last"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ref-volisspag">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ani:voliss"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="ani:pagerange"/>
                    <xs:element ref="ani:pages"/>
                    <xs:element ref="ani:pagecount"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ref-website">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="ani:websitename"/>
                    <xs:element minOccurs="0" ref="ce:e-address"/>
                </xs:sequence>
                <xs:element ref="ce:e-address"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="ref-text">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ani:richstring.data"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ref-fulltext" type="ani:richstringWithMMLType"/>
    <xs:element name="refd-itemcitation">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ce:pii"/>
                    <xs:element minOccurs="0" ref="ce:doi"/>
                    <xs:element minOccurs="0" ref="ce:ern"/>
                    <xs:element minOccurs="0" ref="ani:citation-title"/>
                    <xs:element minOccurs="0" ref="ani:author-group"/>
                    <xs:element minOccurs="0" ref="ani:sourcetitle"/>
                    <xs:element minOccurs="0" ref="ani:sourcetitle-abbrev"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:issn"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="ani:isbn"/>
                    <xs:element minOccurs="0" ref="ani:codencode"/>
                    <xs:element minOccurs="0" ref="ani:part"/>
                    <xs:element minOccurs="0" ref="ani:publicationyear"/>
                    <xs:element minOccurs="0" ref="ani:volisspag"/>
                    <xs:element minOccurs="0" ref="ani:article-number"/>
                    <xs:element minOccurs="0" ref="ani:website"/>
                </xs:sequence>
                <xs:element ref="ani:ref-text"/>
            </xs:choice>
            <xs:attribute name="type"/>
        </xs:complexType>
    </xs:element>

    <xs:attributeGroup name="conceptGroup">
        <xs:attribute name="concept-id"/>
        <xs:attribute name="concept-url"/>
        <xs:attribute name="label-id"/>
    </xs:attributeGroup>
</xs:schema>
